<style>
select {
    width: 100%;
    padding: 10px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 21px;
  }
  #sub {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #D3D3D3;
    }
    #st{
        border: 3px solid #f1f1f1;
        margin: 0px 200px 0px 200px;
        font-size: 30px;
        background-color: white;
    }
    .container {
      padding: 56px;
      
    }
</style> 
<a href="/patients/check">Go To Patients Page</a> 
<!--form for showing the status options form-->
<form method="post" action="/reports/status">
    <select name="status" id="status" class="form-control">
        <option value="Negative">Negative</option>
        <option value="Travelled-Quarantine">Travelled-Quarantine</option>
        <option value="Symptoms-Quarantine">Symptoms-Quarantine</option>
        <option value="Positive-Admit">Positive-Admit</option>
    </select>
    <input type="submit" value="Search" id="sub">
</form>
<br>

<!--a is 1 to show the status based on selected status-->
<% if(a==1){ %>
<div id="st">
<div class="container">
<% var m=1; %>
<% for(let j = status.length-1; j>=0; j--){ %>
<%= m %>:
<% m++ %><br>
<b>Doctor:</b> <%= status[j].doctor %><br>
<b>Status:</b> <%= status[j].status %><br>
<% 
var today = status[j].date;
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();

today = dd + '/' + mm + '/' + yyyy;
%>
<b>Date:</b> <%= today %><br>
<b>Patient Name:</b> <%= status[j].patient.name %><br><br>
<% } %>
</div>
</div>
<% } %>